<div class="footerPC row py-4 ">
    <div class="col-md-2 "></div>
    <div class="col-md-8 container">
        <!-- footer top -->
        <div class="row ">
            <div class="footerPC_about-us col-7 col-xl-2">
                <p>Về Nhà Thuốc ZenPhrama</p>
                <p> <a href="#">Giới thiệu</a></p>
                <p> <a href="#">Hệ thống cửa hàng</a></p>
                <p> <a href="#">Quy chế hoạt động</a></p>
                <p> <a href="#">Chính sách đổi trả</a></p>
                <p> <a href="#">Chính sách giao hàng</a></p>
                <p> <a href="#">Chính sách bảo mật</a></p>
                <p><a href="#">Chính sách thanh toán</a></p>
                <p> <a href="#">Trở thành nhà cung cấp</a></p>
            </div>

            <div class="footerPC_category col-5 col-xl-2 px-2">
                <p>Danh mục</p>
                <p> <a href="#">Dược phẩm</a></p>
                <p> <a href="#"> Chăm sóc sức khỏe</a></p>
                <p> <a href="#">Chăm sóc cá nhân</a></p>
                <p> <a href="#">Sản phẩm tiện lợi</a></p>
                <p> <a href="#">Thực phẩm chức năng</a></p>
                <p> <a href="#">Mẹ và bé</a></p>
                <p><a href="#">Chăm sóc sắc đẹp</a></p>
                <p> <a href="#">Thiết bị y tế</a></p>
            </div>

            <div class="footerPC_benefit-link col-xl-2 mt-xl-0 mt-3 col-7 px-2">
                <p>Tổng đài CSKH</p>
                <p>Hỗ trợ đặt hàng và khiếu nại <span class="text-primary">18006854</span></p>
            </div>

            <div class="footerPC_following-us col-xl-2 mt-xl-0 mt-3 col-5 px-2">
                <p>Theo dõi chúng tôi trên</p>
                <p>
                    <a href="./">
                        <img class="pr-2"
                             src="~/assets/img/icon/mxh_facebook_icon.svg" alt="">Facebook
                    </a>
                </p>
                <p>
                    <a href="./">
                        <img class="pr-2"
                             src="~/assets/img/icon/mxh_youtube_icon.svg" alt="">Youtube
                    </a>
                </p>

            </div>

            <div class="footerPC_download-app col-xl-4 col-12 py-3 py-xl-0">
                <p class="text-center ">Tải ứng dụng Nhà Thuốc ZenPhrama ngay thôi</p>
                <div class=" row text-lg-center">
                    <div class="col-6 left-content" style="height: 100px;">

                        <img class="img-thumbnail h-100" src="~/assets/img/page-img/qr-code-download-app.png">
                    </div>

                    <div class="footerPC_download-store col-6">

                        <img class="img-fluid" src="~/assets/img/page-img/gg-play.png">

                        <div class="p-1" style="height: 15%"></div>

                        <img class="img-fluid text-end" src="~/assets/img/page-img/app store.png">

                    </div>

                </div>
            </div>
        </div>
        <!-- end footer top -->
        <hr>
        <!-- footer bottom -->
        <div class="footer-bottom row">
            <div class="col-12 text-center">
                <p>Công Ty Cổ Phần Nhà Thuốc ZenPhrama</p>
                <p>
                    Địa chỉ: Số 298 đường Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội.<br>Điện thoại: 1800 6789.
                    Email:cskh@haui.edu.vn
                </p>
                <hr>
                <img src="~/assets/img/icon/exclamation_triangle_fill_icon.svg">
                <p>
                    Sản phẩm phục vụ cho mục đích học tập<br>
                    Copyright © 2025 DatDev
                </p>

            </div>
        </div>

    </div>
    <div class="col-md-2" style="background-color: #E5E5E5"></div>

</div>