@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = null;
}

    <link rel="stylesheet" href="/assets/css/about.css">
 
<body>
    <div class="about-us">
        <h1>Nhà thuốc ZenPhrama</h1>
        <br />
        <h4>Trường Đại học Công nghiệp Hà Nội</h4>
        <h5>Môn học: Đồ án tốt nghiệp hệ thông thông tin</h5>
        <h5>Giảng viên hướng dẫn: Nguyễn Bá Nghiễn</h5>
        <br />
        <h4>Người thực hiện</h4>
        <h5>Nguyễn Thế Đạt - 2021602720</h5>
        
        <br>

        <a asp-action="Index" asp-controller="Home">Về trang chủ</a>

    </div>


</body>


