@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row p-4"></div>

<div class="page-notfound row p-4">
    <div class="col-2"></div>
    <!-- empty cart -->
    <div class="page-notfound_content col-8 text-center">
        <div>
            <img src="/assets/img/page-img/notfound.png">
        </div>
        <h3 class="mt-4">
            404
        </h3>
        <h5 class="my-4">
            Không tìm thấy trang
        </h5>

        <p class="">Thật không may, địa chỉ URL bạn yêu cầu không được tìm thấy. <br> Thử tìm kiếm lại kết quả khác.</p>
        <button class="btn px-4 btn-primary rounded">Quay lại trang chủ</button>
    </div>

    <div class="col-2"></div>

</div>
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>


