@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = null;
}

    <link rel="stylesheet" href="/assets/css/about.css">
 
<body>
    <div class="about-us">
        <h1>Nhà thuốc Online</h1>
        <h3>Nhóm 3 - 66PM2</h3>
        <br />
        <h4>Trường Đại học xây dựng Hà Nội</h4>
        <h5>Môn học: Đồ án công nghệ web nâng cao ( kì 1 năm 3 )</h5>
        <h5>Giảng viên hướng dẫn: Phan Hữu Trung</h5>
        <br />
        <h4>Thành viên nhóm</h4>
        <h5>Trần Mạnh Thế - 0205266</h5>
        <h5>Nguyễn Đức Tâm - 0203766</h5>
        <h5>Nguyễn Mạnh Cường - 0182666</h5>
        <h5>Nguyễn Việt Anh - 0180166</h5>
        <h5>Nguyễn Hoàng Dũng - 0183466</h5>
        <br>

        <a asp-action="Index" asp-controller="Home">Về trang chủ</a>

    </div>


</body>


