<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="Report">
                    <span class="icon-holder">
                        <i class="icon ni ni-home"></i>
                    </span>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="icon ni ni-cart"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Create" asp-controller="Order"><i class="icon ni ni-plus"></i> Bán hàng</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Order"><i class="icon ni ni-list"></i> Danh sách đơn hàng</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="icon ni ni-grid-alt"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Index" asp-controller="Product"><i class="icon ni ni-plus"></i> Thêm sản phẩm</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Product"><i class="icon ni ni-list"></i> Danh sách sản phẩm</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="icon ni ni-swap"></i>
                    </span>
                    <span class="title">Giao dịch</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Index" asp-controller="ImportInvoice"><i class="icon ni ni-list"></i> Danh sách đơn nhập</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="ImportInvoice"><i class="icon ni ni-upload"></i> Nhập hàng</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="icon ni ni-users"></i>
                    </span>
                    <span class="title">Đối tác</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Index" asp-controller="Supplier"><i class="icon ni ni-list"></i> Danh sách nhà cung cấp</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="Supplier"><i class="icon ni ni-user-add"></i> Thêm nhà cung cấp</a>
                    </li>
                </ul>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="icon ni ni-user-list"></i>
                        </span>
                        <span class="title">Quản lý nhân viên</span>
                        <span class="arrow">
                            <i class="arrow-icon"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Create" asp-controller="Staff"><i class="icon ni ni-plus"></i> Thêm nhân viên</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Staff"><i class="icon ni ni-list"></i> Danh sách nhân viên</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="icon ni ni-setting"></i>
                        </span>
                        <span class="title">Quản lý khác</span>
                        <span class="arrow">
                            <i class="arrow-icon"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Create" asp-controller="Category"><i class="icon ni ni-plus"></i> Thêm danh mục</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Category"><i class="icon ni ni-list"></i> Danh sách danh mục</a>
                        </li>
                        <li>
                            <a asp-action="Create" asp-controller="Role"><i class="icon ni ni-plus"></i> Thêm quyền truy cập</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Role"><i class="icon ni ni-shield-star"></i> Quản lý quyền truy cập</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="icon ni ni-bar-chart"></i>
                        </span>
                        <span class="title">Thống kê</span>
                        <span class="arrow">
                            <i class="arrow-icon"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Index" asp-controller="InventoryBatch"><i class="icon ni ni-box"></i> Sản phẩm còn tồn kho</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Report"><i class="icon ni ni-chart-up"></i> Báo cáo bán hàng</a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="icon ni ni-setting"></i>
                        </span>
                        <span class="title">Quản lý khác</span>
                        <span class="arrow">
                            <i class="arrow-icon"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-action="Create" asp-controller="Category"><i class="icon ni ni-plus"></i> Thêm danh mục</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Category"><i class="icon ni ni-list"></i> Danh sách danh mục</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>