<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" asp-action="Index" asp-controller="Home">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Trang chủ</span>

                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Create" asp-controller="Order">Bán hàng</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Order">Danh sách đơn đặt hàng</a>
                    </li>


                    <li>
                        <a asp-action="AddReturn" asp-controller="Order">Thêm đổi trả đơn hàng</a>
                    </li>
                    <li>
                        <a asp-action="ListReturn" asp-controller="Order">Danh sách đổi trả đơn hàng</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Create" asp-controller="Product">Thêm sản phẩm</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Product">Danh sách sản phẩm</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping"></i>
                    </span>
                    <span class="title">Giao dịch</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Index" asp-controller="ImportInvoice">Danh sách đơn nhập</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="ImportInvoice">Nhập hàng</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="InventoryBatch">Tồn kho</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping"></i>
                    </span>
                    <span class="title">Đối tác</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Index" asp-controller="Supplier">Nhà cung cấp</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Product">Danh sách sản phẩm</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-user"></i>
                    </span>
                    <span class="title">Quản lý khách hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Create" asp-controller="Customer">Thêm khách hàng</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Customer">Danh sách khách hàng</a>
                    </li>


                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-team"></i>
                    </span>
                    <span class="title">Quản lý nhân viên</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Create" asp-controller="Staff">Thêm nhân viên</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Staff">Danh sách nhân viên</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-ellipsis"></i>
                    </span>
                    <span class="title">Quản lý khác</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Index" asp-controller="Prescription">Đơn thuốc khách hàng</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="Coupon">Thêm phiếu giảm giá</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Coupon">Danh sách phiếu giảm giá</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="Category">Thêm danh mục</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Category">Danh sách danh mục</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="Role">Thêm quyền truy cập</a>
                    </li>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Page">Quản lý page</a>
                    </li>


                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-line-chart"></i>
                    </span>
                    <span class="title">Thống kê</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a asp-action="StockReport" asp-controller="Statictis">Sản phẩm còn tồn kho</a>
                    </li>

                    <li>
                        <a asp-action="SalesReport" asp-controller="Statictis">Báo cáo bán hàng</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>